p {
    font-family: 'Times New Roman';
    color: black;
}

p.black {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p.thick {
    font-weight: bold;
    color: white;
    
}

p.center {
    text-align: center;
}

tr.whiteBackground {
    background-color: white;
    color: black;
}

body {
    background-image: url("../images/elegant-wallpaper-black.jpg");
    color: white;
}

h1 {
    font-family: 'arial';
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border-width: 2px;
    border: solid white;
    width: 35%;
    text-align: center;
}

caption {
    align-self: center;
}

ul.center {
    text-align: center;
    list-style-position: inside;
}

ol.center {
    
    text-align: center;
    list-style-position: inside;
}

ul.type1 {
    list-style-type: circle;
}

ul.type2 {
    list-style-type: square;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}